/* MAIN BODY */

body  {
    overflow-y: scroll; /* CHANGE */
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    align-items: center;
    padding:0;
    margin:0;
    justify-content: center;
}

/* FOOTER */

.footer-copyright {
    padding-top:1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 50px;
    font-family:'Courier New', Courier, monospace;
}

/* CONTAINER FLUID */

.container-fluid{
    height:1500px;
}

/* NAV BAR FONTS/TEXT/ETC */

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle{
    padding-top:40px;
    font-size:20px;
    color: azure; 
    font-family: 'Verdana',Helvetica,Arial,Lucida,sans-serif; 
    font-variant: small-caps;
}

.dropdown-item{
    padding-top:10px;
    font-family: 'Verdana',Helvetica,Arial,Lucida,sans-serif; 
    font-variant: small-caps;
    color:black;
}

.login{
    padding-top:40px;
    font-size:20px;
    color: azure; 
    font-family: 'Verdana',Helvetica,Arial,Lucida,sans-serif; 
    font-variant: small-caps;
}

nav{
    background-color: black;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    color: #FFAD00;
}

/* SCROLL BAR  */

::-webkit-scrollbar {
    background-color: black;
    color: #ffffff;
}
::-webkit-scrollbar-thumb {
    background:linear-gradient(
        45deg,
        #FFAD00,
        #ff9100
    );
}
::-webkit-scrollbar-thumb:hover {
    background-color: #383b3e;
}
::-webkit-scrollbar-thumb:active {
    background-color: #ffae00;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}